<a href="https://colab.research.google.com/github/lkoenigs-2025/Module-2/blob/main/MCON232_FQ_Module1_Class2_Lab_LeahKoenigsberg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## YOUR NAME :

In [2]:
def write_file():
  with open("numbers.txt", "w") as f :
    f.write("1,2,3\n4,5,6\n7,8,9\n")

In [9]:
#SLICING:
#1st index: where start from
#2nd index: go up to but not including
#3rd index: step
#[::-1] this takes the whole list and reverses the whole list
my_list = [1,2,3,4,5]
lst = my_list[2:4]
print(lst)
print(my_list[:])
print(my_list[3:-1])

[3, 4]
[1, 2, 3, 4, 5]
[4]

In [14]:
#NESTED LISTS
x= [[1,2,3],
    [4,5,6],
    [7,8,9]
]
print(x)

#to get 7, 9, and 3
print(x[2][0])
print(x[2][2])
print(x[0][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
7
9
3

In [19]:
#BUILDNG LISTS
#The first is the outer list and then inner list
nested_list = []
var = 3

#Create a 4 x 2 list
for col in range(4):
  row = [] #this row will have 2 elements
  for rw in range(2):
    row.append(var)
    var += 10
  nested_list.append(row)
print(nested_list)

[[3, 13], [23, 33], [43, 53], [63, 73]]

In [24]:
#COMPREHENSIONS
my_list = [1,2,3,4,5]

my_even_list = [ i for i in my_list if i % 2 == 0]
print(my_even_list)

[2, 4]

In [26]:
#COMPREHENSIONS
#2D- not responsible to do in 2D tho
rows,cols = 3,4 #rows is assigned 3 and cols is 4
my_nested = [ [i*j for j in range(cols)] for i in range(rows)]
print(my_nested)

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [34]:
#iterate row by row a nested list:
#1. Simple way to get the data
print("SIMPLE:")
for i in nested_list:
  print(i)

#2. Also gets the data but: gets the index within nested list
#length is just the top level (4 elements)
#index into nested list will then reference to get the 2 elements inside
print()
print("INDEXING:")
for i in range(len(nested_list)):
  print(nested_list[i])

#3. to print one at a time all values:
print()
print("GET VALUE:")
for row in nested_list:
  for value in row:
    print(value)

SIMPLE:
[3, 13]
[23, 33]
[43, 53]
[63, 73]

INDEXING:
[3, 13]
[23, 33]
[43, 53]
[63, 73]

GET VALUE:
3
13
23
33
43
53
63
73

In [43]:
#DELETE AN ELEMENT
#1. del
grid = [[1,2,3],[4,5,6]]
del grid[0][1]
print(grid)

#2. pop an element
#3. remove([4,5,6])

[[1, 3], [4, 5, 6]]

TUPLES

In [46]:
my_tuple = (1,2,3)
print(my_tuple)

for value in my_tuple:
  print(value)

print("index:")
for i in range(len(my_tuple)):
  print(my_tuple[i]) #use square brackets to access index (which makes it a bit confusing)

(1, 2, 3)
1
2
3
index:
1
2
3

In [49]:
#USE A TUPLE TO RETURN A VALUE FROM A FUNCTION
def ret_tuple():
  my_tuple = ("alice", 19, "CS")
  return my_tuple
name, age, major = ret_tuple()
print(f'{name=} {age=} {major=}')

name='alice' age=19 major='CS'

In [61]:
t = (1,2,3,4)         #simplest way to make a tuple
tt = "a", "b", "c"    #makes it into a tuple
ttt = (3,)            #leaves comma in it
tttt = tuple([1,2,3]) #creates this into a tuple by adding the word tuple
t1 = tuple("leah")    #creates as individual item in tuple

print(t)
print(tt)
print(ttt)
print(tttt)
print(t1)

(1, 2, 3, 4)
('a', 'b', 'c')
(3,)
(1, 2, 3)
('l', 'e', 'a', 'h')

In [59]:
#FOR LOOP ITERATES THRU EACH
for i in t1:
  print(i)

a
b
c
d

In [66]:
#Slicing in a tuple is same thing as list
print(t1[:])
print(t1[:-3])
print(t1[1:3])
print(t1[::-1])

('l', 'e', 'a', 'h')
('l',)
('e', 'a')
('h', 'a', 'e', 'l')

In [81]:
#WHAT WE CAN DO WITH A TUPLE (and thats it:))
#1. count
tpl = (1,2,3,4)
print(t1.count("l"))
#2. index
print(t1.index("l"))

#3. sum - can only use with int
print("SUM:", sum(tpl))
#4. min - with alphabet it will give u min a=1....
print("MIN:", min(t1))
#5. max - giveu max number or alphabet
print("MAX:", max(t1))
#6. len - size of tuple
print(len(tpl))

1
0
SUM: 10
MIN: a
MAX: l
4

In [90]:
#COMPLARE TUPLES:
t = tuple("abcdefghijkl")
not_t = tuple("abcdefghijkl")
print(t)
print(not_t)
my_new_t = t
print( f'{my_new_t is not_t}') #eventhough same thing it still says false
print( f'{my_new_t is t}') #points to same thing so its true

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l')
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l')
False
True

In [92]:
#tuples can contain mutables
t= (1,2,3,[4,5])
print(type(t)) #gives u the type which tell u its a tuple
#great to use if not sure why something working

t[3].append(6) #3 is ref the list inside the tuple so u can change that
print(t)

#VS.
t2 = (("a","b"), ("c","d"))
#t[0] = 5 - will give an error cuz cannot iverwrite an immutable

<class 'tuple'>
(1, 2, 3, [4, 5, 6])

In [95]:
#SORTING puts 1 first  then a, b, c etc...
print(sorted([(2,"B"), (1,"C") , (2,"A")]))

[(1, 'C'), (2, 'A'), (2, 'B')]

In [101]:
#is vs equals to
a = (1,2, ["a","b"])
b = (1,2, ["a","b"])
print(a==b)
print(a is b)

a = b
print(f'{a is b}')
a[2].append("c")
print(a) #wld give u same thing cuz u added it to both etc.
print(b)

True
False
True
(1, 2, ['a', 'b', 'c'])
(1, 2, ['a', 'b', 'c'])

In [103]:
#or u can create deep copy
import copy

a = copy.deepcopy(b)
print(f'{a is b}')
a[2].append("z")
print(a)
print(b)

False
(1, 2, ['a', 'b', 'c', 'c'])
(1, 2, ['a', 'b', 'c'])

In [105]:
#tuple comprehension
my_tpl = tuple("abcdefg")
my_tuple = tuple( value for value in my_tpl)
print(my_tuple)

my_list = [value for value in my_tpl]
print(my_list)

('a', 'b', 'c', 'd', 'e', 'f', 'g')
['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [119]:
#LOOPS WITH TUPLES

#simple: look at each value within tuple
print(my_tuple)

#every value loop thru
for value in my_tuple: #or can do for i...
  print(value, end='')

#access according by index
print()
for i in range(len(my_tuple)): #length of tuple
  print(my_tuple[i], end ='')

#enumerate
print()
print("Enumerate:")
for i, value in enumerate(my_tuple):
  print(f'{i} {value}')

('a', 'b', 'c', 'd', 'e', 'f', 'g')
abcdefg
abcdefg
Enumerate:
0 a
1 b
2 c
3 d
4 e
5 f
6 g

In [125]:
t = ((1,2),(3,4))
print(t)

for i,value in enumerate(t):
  print(i, value)

#or same thing with enumerate:
for i, (val1, val2) in enumerate(t):
  print(i, (val1, val2)) #have to unpack each value as a tuple

((1, 2), (3, 4))
0 (1, 2)
1 (3, 4)
0 (1, 2)
1 (3, 4)

In [141]:
#review randoms
import random
print(random.random()) #gives number from 0 to 1 (never will get 1)

#SHUFFLE A LIST
my_list = list("abcdefghijkl")
print(my_list)
random.shuffle(my_list)
print(my_list)

#CHOOSE ONE FROM LIST
print(random.choice(my_list))

#SAMPLE- prints 5 numbers that are in between 1 and 100
print(random.sample(range(1,100),5))

print(random.randint(1, 100))

0.1666615509987004
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']
['l', 'j', 'g', 'a', 'e', 'b', 'h', 'k', 'i', 'f', 'd', 'c']
c
[77, 43, 55, 68, 12]
69